<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
  <div id="story">
          <h1>A fantastical adventure</h1>
          <p>
            One day,@Model.Recipient and  @Model.Sender were walking through the woods, when suddenly a giant appeared. ,  cried. The two of them  as quickly possible, and when they were safe, and  gave each other a giant .
            </p>
        </div>
</body>
</html>


